<div class="container week-show">
  <h1 class="text-center">My week menu</h1>

  <div class="card-week">
    SLIDERSHOW
    <a href="" id="left">GAUCHE</a>
    <a href="" id="right">DROITE</a>
  </div>

  <div class="card-week-day">
    <div class="card-week-day-description">
      <h4>D A Y</h4>
    </div>
    <div class="card-week-day-calendar">
      <ul>

        <li>
          L
          <br><a href="" class="circle">
            <i class="far fa-circle week-icon-active"></i>
          </a>
        </li>

        <li>M<br><a href=""><i class="far fa-circle"></i></a></li>
        <li>M<br><a href=""><i class="far fa-circle"></i></a></li>
        <li>J<br><a href=""><i class="far fa-circle"></i></a></li>
        <li>V<br><a href=""><i class="far fa-circle"></i></a></li>
        <li>S<br><a href=""><i class="far fa-circle"></i></a></li>
        <li>D<br><a href=""><i class="far fa-circle"></i></a></li>
      </ul>
    </div>
  </div>

</div>
