<div class="grocery-list">
  <h1 style="text-decoration: underline!important;">Ma liste de courses:</h1>
  <div class="align-p">
    <p>Marquez comme lu les ingrédients achetés en cliquant dessus.</p>
  </div>
  <ul id="myUL">
    <% @grocery_list.grocery_items.each do |item| %>
      <%= link_to grocery_item_path(item), method: :put do %>
        <div class="checklist-alignment">
          <div class="checklist"><li class="<%= 'checked' if item.bought == true %>"> <%= item.ingredient.name %> </li></div>
          <div class="checklist-separator"></div>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
