// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-main: rgba(255, 190, 120, 1);
$color-main-transparency: rgba(255, 190, 120, 0.7);
$color-second: #e3f6f5;
$color-third: rgba(186, 232, 232, 1);
$color-third-transparency: rgba(186, 232, 232, 0.7);
$color-paragraph: #2d334a;
$color-headline: #272343;

