// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-main: #ff9829;
$color-second: #bdf0ed;
$color-third: #a0ebeb;
$color-paragraph: #2d334a;
$color-headline: #272343;

