// Specific CSS for your home-page
.container-home {
  width: 90vw;
  margin: 0 auto;
  margin-top: 30vh;
  justify-content: center;
}

.background-home {
  background-color: #C4CEDA;
  height: 100vh;
  margin: 0 auto;
}
