.h2-moment {
  color:#FA4A0C;
  text-align: center;
  margin-top: 10px;
}
.swiper-show {
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

.recipebar {
  margin: 15px 19px;
}

.recipe-show-list {
  list-style: none;
  padding:0;
}

.back-heart{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 21px;
}
.icon {
  color:black;
  font-size: 25px;
    &:hover {
      color:black;
    }
}

.container-fluid {
  padding: 21px;
  margin:21px;
}

.swiper-slide {
  display:flex;
  justify-content:center;
  align-items:center;
}

.time-person {
 // background: white;
 // width: 50px;
 // height: 50px;
 // border-radius: 10px;
 // z-index: 12;
 // text-align: center;
 color:#FA4A0C;
 font-size: bold;
}

.div-pagination-time{
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top: -22px;
}

.div-pagination{
  flex: 1;
  max-width: fit-content;
  margin:40px;
}
.time-person-diff {
  display:flex;
  justify-content:space-evenly ;
  align-items: center;
}

.div-time{
  background: white;
  border-radius: 10px;
  width: 70px;
  height: 50px;
  text-align: center;
}
.div-person {
  background: white;
  border-radius: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  padding:3px;
}

.div-difficulty {
  background: white;
  border-radius: 10px;
  text-align: center;
  width: 86px;
  height: 50px;
  padding:3px;
}

.swiper-show-image{
  width: 210px;
  height:210px;
  border-radius: 120px;
  // margin-bottom:40px;
  object-fit: cover;
}

.containerrecipeshow {
  width: 90%;
  margin: 0 auto;
}

.orange {
  color: #FA4A0C!important;
}

.card-white {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.chrono {
  position:absolute;
  width:16px;
}
