<h1>Recipes</h1>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="column">
      <%= link_to recipe_path(recipe), class: "cardit" do %>
        <div class="card-rcp">
          <% if recipe.photos.attached? %>
            <%= cl_image_tag recipe.photos.first.key, height: 100, width: 400, crop: :fill %>
          <% end %>
          <h5><%= recipe.name  %></h5>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
