<div class="container text-center">
  <h1> Welcome <%= @user.first_name + " " + @user.last_name %></h1>
  <br>
  <h2>Adress : <%= @user.address %></h2>
  <br>
  <h2>How many mouthes : <%= @user.num_of_members %></h2>
  <br>
  <h2>EMAIL : <%= @user.email %></h2>
</div>
