<div class= "d-flex justify-content-center">
  <h1>Pages#home</h1>
</div>
<div class= "d-flex justify-content-center">
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
<div class="">
  <div class="d-flex justify-content-center">
    <a class="btn-main btn-large" href="">Accepter</a>
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <a class="btn-second btn-medium"href="">Refuser</a>
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <a class="btn-second btn-small"href="">Refuser</a>
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <a href=""><i class="btn-scroll-down fas fa-chevron-down"></i></a>
  </div>
   <br>
  <div class="d-flex justify-content-center">
    <a href=""><i class="btn-scroll-up fas fa-chevron-up"></i></a>
  </div>
</div>
<br>
<div class="d-flex justify-content-center">
  <a href=""><i class="btn-back fas fa-chevron-left"></i></a>
</div>
