<div class="background-home">
<p id="home-hidden">""</p>
  <div id="loader-wrapper">
    <div class="text">
      <h1 class="home-h1 text-center">T A K E A T</h1>
      <h1 class="home-h2 text-center">E A S Y</h1>
    </div>
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

  <div class="container-home d-flex">
    <div class="row align-items-center ">
      <div class="col-12 text-center">

        <h2 class="iciiiiii pb-4">B O N J O U R<br></h2>
        <%= link_to "Explorer nos recettes!", recipes_path, class: "button"  %>
        <p><br></p>
        <div class="d-flex justify-content-around">
          <div >
            <%= link_to "Connexion", user_session_path, class: "btn-main" %>
          </div>
          <div>
            <%= link_to "Créer un compte", new_user_registration_path, class: "btn-second btn-medium" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div class="d-flex justify-content-center">
  <a href=""><i class="btn-back fas fa-chevron-left"></i></a>
</div>
