<body>

<div id="myDIV" class="header">
  <h2 style="margin:5px">Ma liste de course</h2>
  <input type="text" id="myInput" placeholder="Ingrédient...">
  <span onclick="newElement()" class="addBtn">Ajouter</span>
</div>

<ul id="myUL">
  <li>500g de carrottes</li>
  <li class="checked">3 oeufs</li>
  <li>200g de beurre</li>
  <li>1000g de pomme de terre</li>
</ul>

</body>

<!-- ------------------------------------------------------- -->
<hr>

<h1>Welcome to Swiper</h1>

<!-- Slider main container -->
<!-- <div class="swiper-container"> -->
    <!-- Additional required wrapper -->
    <!-- <div class="swiper-wrapper"> -->
        <!-- Slides -->
 <!--        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div> -->
 <!--    </div> -->
    <!-- If we need pagination -->
<!--     <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
<!--     <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
<!-- </div>
 -->
<div class="card-externe">
  <div class="card-repas">
    <%= image_tag "https://i.ytimg.com/vi/8q_llEwSdp0/maxresdefault.jpg", alt: "alttext" %>
  </div>
  <div class="card-repas-description">
    <div class="card-description-h1">
      <h3>Salade vegetarienne</h3>
    </div>
    <div class="card-description-p">
      <p>Dejeuner</p>
    </div>
  </div>
</div>


<div class="myownswiper">
  <div class="myownswiper-slides">

    <div class="card-externe">
      <div class="card-repas">
        <%= image_tag "https://i.ytimg.com/vi/8q_llEwSdp0/maxresdefault.jpg", alt: "alttext" %>
      </div>
      <div class="card-repas-description">
        <div class="card-description-h1">
          <h3>Salade vegetarienne</h3>
        </div>
        <div class="card-description-p">
          <p>Dejeuner</p>
        </div>
      </div>
    </div>

    <div class="card-externe">
      <div class="card-repas">
        <%= image_tag "https://i.ytimg.com/vi/8q_llEwSdp0/maxresdefault.jpg", alt: "alttext" %>
      </div>
      <div class="card-repas-description">
        <div class="card-description-h1">
          <h3>Salade vegetarienne</h3>
        </div>
        <div class="card-description-p">
          <p>Dejeuner</p>
        </div>
      </div>
    </div>

    <div class="card-externe">
      <div class="card-repas">
        <%= image_tag "https://i.ytimg.com/vi/8q_llEwSdp0/maxresdefault.jpg", alt: "alttext" %>
      </div>
      <div class="card-repas-description">
        <div class="card-description-h1">
          <h3>Salade vegetarienne</h3>
        </div>
        <div class="card-description-p">
          <p>Dejeuner</p>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
