<%= link_to "Valider semaine", createlisting_week_path(@week.id) %>
<ul>
  <% @meals.each do |meal|%>
    <li>
      <% if Recipe.find(meal.recipe_id).name == "EMPTY" %>
        <p> Pas de recette pour ce jour </p>
      <% else %>
        <%= Recipe.find(meal.recipe_id).name %>
      <% end %>
      <%= link_to "Changer", week_meal_path(meal.week_id,meal), :method=> :put %>
      <%= link_to "Supprimer", week_empty_path(meal.week_id,meal), :method=> :put %>
    </li>
  <% end %>
</ul>
