.btn-main {
  // font-weight: bold;
  color: #FFFFFF;

  background: $color-main;
  border-radius: 7px;
  padding: 15px 50px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.btn-second {
  // font-weight: bold;
  color: white;

  background: $color-main;
  border-radius: 7px;
  padding: 15px 50px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.btn-large {
  width: 90vw;
}


.btn-medium {
  width: 50vw;
}

.btn-small {
  width: 30vw;
}

.btn-scroll-down {
  // <i class="btn-scroll fas fa-chevron-down">
  color: $color-paragraph ;
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  border-radius: 50%;
  padding: 5px 5px 3px 5px;
}

.btn-scroll-up {
  // <i class="btn-scroll fas fa-chevron-up">
  color: $color-paragraph ;
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  border-radius: 50%;
  padding: 3px 5px 5px 5px;
}

.btn-back {
  font-size: 24px;
  color: $color-paragraph ;
  // box-shadow: 0 0px 5px rgba(0,0,0,0.2); if you want a box-shadow around your circled icon
  padding: 10px;
  border-radius: 50%;
  // padding: 1px 8px 2px 5px; if you want a circle around your icon
  background-color: transparent;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 12px 13px;
  cursor: pointer;
  background: white;
  border-radius: 7px;
}

.btn-calendar {
  color: #FA4A0C;
  border: 2px solid #FA4A0C;
  padding: 10px 15px;
  border-radius: 15px;
  display: block;
  margin : 40px auto;
  &:active {
    color: #FA4A0C;
  }
}

.btn-calendar-off {
  color: #6c757d;
  border: 2px solid #6c757d;
  padding: 10px 15px;
  border-radius: 15px;
  display: block;
  margin : 40px auto;
  opacity: 0.4;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
  width: 110px;
  height: 32px;
  input{
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
  }
}
