.btn-main {
  font-weight: bold;
  color: #FFFFFF;

  background: $color-main;
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.btn-second {
  font-weight: bold;
  color: #FFFFFF;

  background: $color-third;
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.btn-large {
  width: 90vw;
}


.btn-medium {
  width: 50vw;
}

.btn-small {
  width: 30vw;
}

.btn-scroll-down {
  // <i class="btn-scroll fas fa-chevron-down">
  color: $color-paragraph ;
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  border-radius: 50%;
  padding: 5px 5px 3px 5px;
}

.btn-scroll-up {
  // <i class="btn-scroll fas fa-chevron-up">
  color: $color-paragraph ;
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  border-radius: 50%;
  padding: 3px 5px 5px 5px;
}

.btn-back {
  font-size: 24px;
  color: $color-paragraph ;
  // box-shadow: 0 0px 5px rgba(0,0,0,0.2); if you want a box-shadow around your circled icon
  padding: 10px;
  border-radius: 50%;
  // padding: 1px 8px 2px 5px; if you want a circle around your icon
  background-color: transparent;
}
>>>>>>> master
