/* Float four columns side by side */
.column_ml {
  float: left;
  width: 50%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

/* Remove extra left and right margins, due to padding in columns */
.row_ml {
  margin: 5px -5px;
  // background-image: asset-url('wood.png');
}

/* Clear floats after the columns */
.row_ml:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card-meal {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 1); /* this adds the "card" effect */
  padding: 300px 45px;
  height: 200px;
  text-align: center;
  justify-content: center;

  border-radius: 10px;
  margin: 5px 10px;

  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  a {
    text-decoration: none;
  }

  p {
    text-align: center;
    color: $color-paragraph;
    font-size: 10px;
    font-style: italic;
  }

  h5 {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

}

.chg {
  position: absolute;
  color: black;
  bottom: 10px;
  right: 0px;
}

.del {
  color: yellow;
  top: 0px;
  right: 0px;
}
