body {
  font-family: $body-font;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 5px -5px;
  // background-image: asset-url('wood.png');
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card-ckbk {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.07); /* this adds the "card" effect */
  padding: 16px 45px;
  height: 200px;
  text-align: center;
  justify-content: center;
  background-color: $color-main;
  opacity: 0.7;
  border-radius: 10px;
  margin: 5px 10px;

  a {
    text-decoration: none;
  }

  p {
    text-align: center;
    color: $color-paragraph;
    font-size: 10px;
    font-style: italic;
  }

  h5 {
    color: $color-headline;
  }
}

// /* Responsive columns - one column layout (vertical) on small screens */
// @media screen and (max-width: 600px) {
//   .column {
//     width: 50%;
//     display: block;
//     margin-bottom: 20px;
//   }
// }

// -----------------------------------------------------------------------------------

// ul, table, form{
//   margin:0;
//   padding:0;
// }

// .bookshelf-row{
//   display:none;
// }

// .bookshelf{
//   transition:all 1s;
// }

// .bookshelf{
//     display: flex;
//     margin-top: 19vh;
//     justify-content: center;
// }

// .bookshelf .shelf{
//   width:426px;
//   height:440px;
// }

// .bookshelf .shelf .row-1{
//   position:relative;
//   width:100%;
//   height:160px;
// }

// .bookshelf .shelf .row-2{
//     position:relative;
//     margin-top:20px;
//     width:100%;
//     height:160px;
// }

// .bookshelf .shelf .row-1:after {
//   background:url("https://netzulim.org/R/OrgR/Library/sherut/shelfR.png");
//   background-size:100%;
//   background-repeat: no-repeat;
//   background-position:bottom left;
//   width:100%;
//   height:210px;
//   display:block;
//   content:"";
// }

// .bookshelf .shelf .row-2:after {
//   background:url("https://netzulim.org/R/OrgR/Library/sherut/shelfR.png");
//   background-size:100%;
//   background-repeat: no-repeat;
//   background-position:bottom left;
//   width:100%;
//   height:216px;
//   display:block;
//   content:"";
// }

// .bookshelf .shelf .loc{
//   position:absolute;
//   bottom:0;
//   width:100%;
// }

// .bookshelf .shelf .loc > div{
//   width:33%;
//     height:100%;
//     background-size: contain;
//   float:left;
// }

// .bookshelf .sample,
// .bookshelf-row .sample{
//   margin:auto;
//   position: relative;
//   z-index:1;
//   box-shadow:2px 2px 5px rgba(0,0,0,0.6);
//   transition:transform 0.1s;
//   transform:translate(0, 0);
// }

// .sample:hover{
//   z-index:2;
//   cursor: pointer;;
//   background-color:white;
//   transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
// }

// .bookshelf .book1,
// .bookshelf-row .book1{
//   background-image:url("https://images.booksense.com/images/books/134/800/FC9780394800134.JPG");
//     background-size: 83px 115px;
//     width:83px;
//   height:115px;
// }

// .bookshelf .book2,
// .bookshelf-row .book2{
//   background-image:url("https://images.booksense.com/images/books/899/800/FC9780394800899.JPG");
//     background-size: 85px 115px;
//     width:85px;
//   height:115px;
// }

// .bookshelf .book3,
// .bookshelf-row .book3{
//   background-image:url("https://images.booksense.com/images/books/783/800/FC9780394800783.JPG");
//     background-size: 84px 115px;
//     width:84px;
//   height:115px;
// }

// .bookshelf .book4,
// .bookshelf-row .book4{
//   background-image:url("http://ecx.images-amazon.com/images/I/51KXmt4Ur-L.jpg");
//     background-size: 91px 125px;
//     width:91px;
//   height:125px;

// }
// .bookshelf .book5,
// .bookshelf-row .book5{
//   background-image:url("https://toppsta.com/images/book-covers/9780007169917");
//     background-size: 91px 125px;
//     width:91px;
//   height:125px;
// }

// .bookshelf .book6,
// .bookshelf-row .book6{
//     background-image:url("https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9780/0071/9780007158461.jpg");
//     background-size: 91px 125px;
//     width:91px;
//   height:125px;
// }
