.footer {
  width: 100vw;
  background-color: transparent;
  margin: 0 auto;
  padding:5px 0;
  border-radius: 25px;

  box-shadow: 4px 10px 10px 10px rgba(0,0,0,0.07);
}
.footer-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
    text-decoration: none;
    display: inline;
    width: 25%;
    font-size: 8px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    > a {
      color: black;
    }
  }
}

.footer-icon {
  font-size: 24px;
}

.footer-active {
  color: #FA4A0C;
  font-weight: bold;
  > a {
    color: #FA4A0C!important;
  }
}

body {
  background-color:  rgb(245,245,245);
  }
