.footer {
  width: 100vw;
  background-color: $color-third;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  box-shadow: 1px 4px 8px rgba(0,0,0,0.07);
}
.footer-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    text-decoration: none;
    display: inline;
    width: 20%;
    font-size: 8px;
    text-align: center;
    padding-top: 6px;
    > a {
      color: $color-paragraph;
    }
  }
}

.footer-icon {
  font-size: 24px;
}

.footer-active {
  background-color: $color-main;
  font-weight: bold;
}
