html, body {
  margin: 0!important;
  padding: 0!important;
  position: relative;
}

.container-wrapper{
  flex-direction: column;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.container-main {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none!important;
}


.line {
  text-decoration: line-through;
}
