html, body {
  margin: 0!important;
  padding: 0!important;
  position: relative;
  background: #E5E5E5;
}

.container-wrapper{
  flex-direction: column;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.container-main {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  background-color: #F2F2F2;
}
a:hover {
  text-decoration: none!important;
}

a:active{
  color:inherit;
}

h1 {
  font-size:22px;
  text-align: center;
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}

 h2 {
  font-size: 18px;
  margin: 0 auto 0.25em auto;

 }

 h3, h4, h5 {
  font-size:16px;
  margin: 0 auto 0.5em auto;
 }

 p {
  font-size:15px;
  // font-weight: 600;
  letter-spacing: 0.02em;
 }
