.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
