.weekbar {
  margin-top: 0px;
  position: absolute;
  top: 27px;
  right: 20px;
}

.black{
  color: #FA4A0C;
  border: 2px solid #FA4A0C;
  padding: 10px 15px;
  border-radius: 15px;
}

.menudelasemaine {
  > h1 {
    font-size: 34px;
    text-align: left;
  }
  width: 250px;
  padding: 25px 25px 0 25px;
}

.divjourdelasemaine {
  padding: 0px 20px 0 0;
  > .jourdelasemaine {
    text-align: center;
    padding: 5px 10px;
  }
}

.day-active {
  border-bottom: 2px solid #FA4A0C;
  color: #FA4A0C;
}

.week-show {
  background-color:#F2F2F2;
}

.hidden {
  display: none!important;
}


// VIEW INDEX CONTROLLER WEEK

.week-index-card {
  margin: 20px auto;
  padding: 5px 10px 0 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  h3 {
    color: black;
  }
}


// VIEW WEEK NEW FORM

#week_start_day {
  display: none;
}

.week_start_day {
  margin-left: 19px;
}
